<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{title}} </a></h4>
          <p class="card-body">{{content}}</p>
        <p>Created By: {{user.username}} on {{format_date post.date_created}}</p>
    </div>

</div>

   {{!-- <form class="new-comment-form formCont d-flex flex-wrap justify-content-center" data-postid={{id}}>
			<div class="textAreaCont p-2">
				<textarea id='comment_text' name="comment-body"
				placeholder="Enter a comment here..."
				cols="30"
				rows="2"></textarea>
			</div>
			<div class="btnComment p-2">
				<button class="button btn btn-success" type="submit">Add Comment</button>
			</div>
		</form> --}}